body
{
    background-color:lightpink;
}
.hihi {
    color:mediumblue;
}
.so {
    text-align:center;
}
.tieude {
    background-color:greenyellow;
}
.bang {
    border:groove;
    background-color:gold;
    width:100%;
}