h1 {
    text-align:center;
    color: red;
}
.hihi {
    background-color: yellowgreen;
}
p {
    text-align: right;
    font-weight:bold;
}
.chuoi {
    text-align: right;
}
.so {
    text-align: center;
}